<<html>
<head>
    <meta charset="UTF-8">
    <title> Kakao Login </title>
</head>
<body>
<div class="kakao-btn">
    <a
            href="https://kauth.kakao.com/oauth/authorize?client_id=2c6ce0e44b0542de868a8eb75b80a84a&redirect_uri=http://101.101.211.46:8080/praise-up/api/v1/sign-up&response_type=code"> Kakao Login </a>
</div>
<div>
    <h2>로그아웃</h2>
    <a
            href="https://kauth.kakao.com/oauth/logout?client_id=2c6ce0e44b0542de868a8eb75b80a84a&logout_redirect_uri=http://localhost:8080/praise-up/api/v1/logout">로그아웃</a>
</div>
</body>
</html>
